html, body,
.app{
    height: 100vh;
    background: #eee;
    padding: 1em;
}

/* Messages */
.messages {
    height: 440px;
    overflow-y: scroll;
}

/* Message form */
.message__form {
    position: fixed;
    bottom: 1em;
    margin-left: 320px;
    left: 0;
    right: 1em;
    z-index: 200;
}

/* Message */
.message__self {
    border-right: 2px solid orange;
    padding-left: 8px;
}